:root {
    --color-theme-dark: #1f1f1f;
    --color-theme-dark-faded: #3a3a3a;
    --color-theme-accent: #00ab37;
    --color-theme-light: #ffffff;
    --color-theme-light-faded: #828282;
}

p, h1, h2, h3, h4, h5, h6, em, div, li, span, strong {
    color: var(--color-theme-dark);
    line-height: 125%;
}

a {
    color: var(--color-theme-accent);
}

ul {
    padding-left: 0px;
    list-style-position: inside;
}

body {
    background-color: var(--color-theme-light);
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

img {
    max-width: 80%;
    object-fit: cover;
    object-position: center;
}

.content-wrapper {
    margin: 40px;
}